[submodule "paper/ThirdPaper"]
	path = paper/ThirdPaper
	url = git@github.com:jiahaoxiang2000/ThirdPaper.git
[submodule ".github/prompts"]
	path = .github/prompts
	url = git@github.com:jiahaoxiang2000/prompts.git
[submodule "typesetting"]
	path = typesetting
	url = git@github.com:jiahaoxiang2000/typesetting.git
[submodule "paper/FourthPaper"]
	path = paper/FourthPaper
	url = git@github.com:jiahaoxiang2000/deeper-paper.git
[submodule ".claude"]
	path = .claude
	url = git@github.com:jiahaoxiang2000/claude-conf.git
