[submodule "cryptobib"]
	path = cryptobib
	url = https://github.com/cryptobib/export
[submodule "paper/ThirdPaper"]
	path = paper/ThirdPaper
	url = git@github.com:jiahaoxiang2000/ThirdPaper.git
[submodule ".github/prompts"]
	path = .github/prompts
	url = git@github.com:jiahaoxiang2000/prompts.git
[submodule "typesetting"]
	path = typesetting
	url = git@github.com:jiahaoxiang2000/typesetting.git
